* {
  color: #675858;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Abhaya Libre', 'Raleway';
}

a {
  font-weight: 500;
  color: grey;
}

a:hover {
  color: rgb(86, 86, 86);
}

/* define custom fonts */

@font-face {
  font-family: 'HandwritingCyrillic';
  src: local('HandwritingCyrillic'), url(./fonts/HandwritingCyrillic.ttf) format('truetype');
  font-weight: 100;
}
